In [3]:
import sys
sys.path.append('C:/Users/mesfi/OneDrive/Desktop/han AAU Training/10Acadamy/week1/Week-1-Analytics_in_telecommunication')
import pandas as pd
from scripts.process_data import get_df
from scripts.postgres_connection import connect_to_postgres 

import numpy as np
import seaborn as sns
# pd.set_option('display.float_format', lambda x: '%.0f' % x)
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [4]:
df = get_df()

In [5]:
df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

In [6]:
#Start by identifying the top 10 handsets used by the customers
Handset_counts = df['Handset Type'].value_counts()
Handset_counts = Handset_counts .reset_index()
Handset_counts.columns = ['Handset Type', 'Count']
Handset_counts.head(10)

                   Handset Type  Count
0              Huawei B528S-23A  19752
1       Apple iPhone 6S (A1688)   9419
2        Apple iPhone 6 (A1586)   9023
3                     undefined   8987
4        Apple iPhone 7 (A1778)   6326
5       Apple iPhone Se (A1723)   5187
6        Apple iPhone 8 (A1905)   4993
7       Apple iPhone Xr (A2105)   4568
8  Samsung Galaxy S8 (Sm-G950F)   4520
9        Apple iPhone X (A1901)   3813

In [7]:
#identify the top 3 handset manufacturers
manufacturers_counts = df['Handset Manufacturer'].value_counts()
manufacturers_counts = manufacturers_counts .reset_index()
manufacturers_counts.columns = ['top 3 handset manufacturers', 'Count']
manufacturers_counts.head(3)

  top 3 handset manufacturers  Count
0                       Apple  59565
1                     Samsung  40839
2                      Huawei  34423

In [8]:
 #identify the top 5 handsets per top 3 handset manufacturer
#Intially filter the data
filtered_df = df[df['Handset Manufacturer'].isin(['Apple', 'Samsung', 'Huawei'])]
filtered_df.iloc[0]

Bearer Id                                       13114483460844900352.0
Start                                                   4/4/2019 12:01
Start ms                                                         770.0
End                                                    4/25/2019 14:35
End ms                                                           662.0
Dur. (ms)                                                    1823652.0
IMSI                                                 208201448079117.0
MSISDN/Number                                            33664962239.0
IMEI                                                  35521209507511.0
Last Location Name                               9.16456699548519E+015
Avg RTT DL (ms)                                                   42.0
Avg RTT UL (ms)                                                    5.0
Avg Bearer TP DL (kbps)                                           23.0
Avg Bearer TP UL (kbps)                                           44.0
TCP DL Retrans. Vol (Bytes)                                        NaN
TCP UL Retrans. Vol (Bytes)                                        NaN
DL TP < 50 Kbps (%)                                              100.0
50 Kbps < DL TP < 250 Kbps (%)                                     0.0
250 Kbps < DL TP < 1 Mbps (%)                                      0.0
DL TP > 1 Mbps (%)                                                 0.0
UL TP < 10 Kbps (%)                                              100.0
10 Kbps < UL TP < 50 Kbps (%)                                      0.0
50 Kbps < UL TP < 300 Kbps (%)                                     0.0
UL TP > 300 Kbps (%)                                               0.0
HTTP DL (Bytes)                                                    NaN
HTTP UL (Bytes)                                                    NaN
Activity Duration DL (ms)                                      37624.0
Activity Duration UL (ms)                                      38787.0
Dur. (ms).1                                               1823652892.0
Handset Manufacturer                                           Samsung
Handset Type                                Samsung Galaxy A5 Sm-A520F
Nb of sec with 125000B < Vol DL                                    NaN
Nb of sec with 1250B < Vol UL < 6250B                              NaN
Nb of sec with 31250B < Vol DL < 125000B                           NaN
Nb of sec with 37500B < Vol UL                                     NaN
Nb of sec with 6250B < Vol DL < 31250B                             NaN
Nb of sec with 6250B < Vol UL < 37500B                             NaN
Nb of sec with Vol DL < 6250B                                    213.0
Nb of sec with Vol UL < 1250B                                    214.0
Social Media DL (Bytes)                                      1545765.0
Social Media UL (Bytes)                                        24420.0
Google DL (Bytes)                                            1634479.0
Google UL (Bytes)                                            1271433.0
Email DL (Bytes)                                             3563542.0
Email UL (Bytes)                                              137762.0
Youtube DL (Bytes)                                          15854611.0
Youtube UL (Bytes)                                           2501332.0
Netflix DL (Bytes)                                           8198936.0
Netflix UL (Bytes)                                           9656251.0
Gaming DL (Bytes)                                          278082303.0
Gaming UL (Bytes)                                           14344150.0
Other DL (Bytes)                                           171744450.0
Other UL (Bytes)                                             8814393.0
Total UL (Bytes)                                            36749741.0
Total DL (Bytes)                                           308879636.0
Name: 0, dtype: object

In [9]:
#identify the top 5 handsets per top 3 handset manufacturer
Handset_counts = filtered_df['Handset Type'].value_counts()
Handset_counts = Handset_counts .reset_index()
Handset_counts.columns = ['top 5 handsets', 'Count']
Handset_counts.head(5)

            top 5 handsets  Count
0         Huawei B528S-23A  19752
1  Apple iPhone 6S (A1688)   9419
2   Apple iPhone 6 (A1586)   9023
3   Apple iPhone 7 (A1778)   6326
4  Apple iPhone Se (A1723)   5187

In [10]:
#Aggregate per user the following information in the column  
#number of xDR sessions,Session duration,the total download (DL) and upload (UL) data,the total data volume (in Bytes) during this session for each application

df['Start'] = pd.to_datetime(df['Start'])
df['End'] = pd.to_datetime(df['End'])

df['Session Duration (s)'] = (df['End'] - df['Start']).dt.total_seconds()

applications = ['Social Media', 'Google', 'Email', 'Youtube', 'Netflix', 'Gaming', 'Other']

user_aggregated = df.groupby('MSISDN/Number').agg({
    'Bearer Id': 'count', 
    'Session Duration (s)': 'sum', 
    'Total DL (Bytes)': 'sum', 
    'Total UL (Bytes)': 'sum',  
    **{f'{app} DL (Bytes)': 'sum' for app in applications}, 
    **{f'{app} UL (Bytes)': 'sum' for app in applications}  
})

for app in applications:
    user_aggregated[f'{app} (Total Bytes)'] = user_aggregated[f'{app} DL (Bytes)'] + user_aggregated[f'{app} UL (Bytes)']
    user_aggregated.drop([f'{app} DL (Bytes)', f'{app} UL (Bytes)'], axis=1, inplace=True)

user_aggregated.rename(columns={'Bearer Id': 'Number of xDR sessions'}, inplace=True)

user_aggregated.head()

,Number of xDR sessions,Session Duration (s),Total DL (Bytes),Total UL (Bytes),Social Media (Total Bytes),Google (Total Bytes),Email (Total Bytes),Youtube (Total Bytes),Netflix (Total Bytes),Gaming (Total Bytes),Other (Total Bytes)
MSISDN/Number,,,,,,,,,,,
3.360100e+10,1,116760.0,8.426375e+08,36053108.0,2232135.0,4389005.0,1331362.0,21624548.0,27180981.0,8.124587e+08,386570872.0
3.360100e+10,1,181260.0,1.207552e+08,36104459.0,2660565.0,5334863.0,3307781.0,12432223.0,11221763.0,1.197501e+08,281710071.0
3.360100e+10,1,135000.0,5.566597e+08,39306820.0,3195623.0,3443126.0,3205380.0,21333570.0,19353900.0,5.388277e+08,501693672.0
3.360101e+10,1,49920.0,4.019932e+08,20327526.0,280294.0,9678493.0,2284670.0,6977321.0,1942092.0,3.911261e+08,35279702.0
3.360101e+10,2,37200.0,1.363130e+09,94280527.0,2912542.0,18499616.0,3305469.0,41533002.0,49201724.0,1.314798e+09,804804484.0

In [10]:
missing_values_count = df.isnull().sum()
missing_values_count

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
Session Duration (s)                             1
dtype: int64

In [11]:
#Conduct an exploratory data analysis on those data & communicate useful insights. Ensure that you identify and treat all missing values and outliers in the dataset by replacing by the mean of the corresponding column.

non_numeric_columns = df.select_dtypes(exclude=['number']).columns

df_numeric = df.drop(non_numeric_columns, axis=1)

cleaned_data = df_numeric.fillna(df_numeric.mean())
cleaned_data.head()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes),Session Duration (s)
0,1.311448e+19,770.0,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,42.000000,5.000000,23.0,...,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0,1823640.0
1,1.311448e+19,235.0,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,65.000000,5.000000,16.0,...,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0,1365060.0
2,1.311448e+19,1.0,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,109.795706,17.662883,6.0,...,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0,1361760.0
3,1.311448e+19,486.0,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,109.795706,17.662883,44.0,...,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0,1321500.0
4,1.311448e+19,565.0,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,109.795706,17.662883,6.0,...,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0,1089000.0

In [ ]:
#Conduct an exploratory data analysis on those data & communicate useful insights. Ensure that you identify and treat all missing values and outliers in the dataset by replacing by the mean of the corresponding column."""

non_numeric_columns = df.select_dtypes(exclude=['number']).columns

df_numeric = df.drop(non_numeric_columns, axis=1)

cleaned_data = df_numeric.fillna(df_numeric.mean())
cleaned_data.head()